<!--<div class="row">
  <div class="bg-software-gray-1 p-1 col-md-12 col-sm-12 col-xs-12">
    <h2 class="display-1 d-inlineblock left-pad">
      Client Notification</h2>
  </div>
</div>-->
<div class="row hidden-xs-down">
  <div class="col-md-12 col-sm-12">
    <div class="divClass p-top-bottom">
      <div class="col-md-7 col-sm-7">
        <div class="form-group">
          <label class="display-3 d-inline-block">Carrier Rating Changes Notification</label>
          <div class="form-check">
            <label class="form-check-label form-check-label-tableOne">
              <input class="form-check-input bold" type="checkbox" id="c1" checked  value="">
              <label for="c1"></label>
              Email Alerts
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="d-inline-block">Selected Carriers</label>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>
                <!-- <div class="form-check">
                  <label class="form-check-label form-check-label-table">
                    <input type="checkbox" id="c2"  value="">
                    <label for="c2"></label>
                  </label>
                </div> -->
              </th>
              <th>Code</th>
              <th>Legal Name</th>
              <th>Country</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <div class="form-check">
                  <label class="form-check-label form-check-label-table">
                    <input type="checkbox" id="c3" value="">
                    <label for="c3"></label>
                  </label>
                </div>
              </td>
              <td>C1576</td>
              <td>Companhia de Seguros Alianca do Brasil</td>
              <td>Brazil</td>
            </tr>
            <tr>
              <td>
                <div class="form-check">
                  <label class="form-check-label-table">
                    <input type="checkbox" id="c4" value="">
                    <label for="c4"></label>
                  </label>
                </div>
              </td>
              <td>B0791</td>
              <td>AIG Europe Ltd</td>
              <td>United Kingdom</td>
            </tr>
            <tr>
              <td>
                <div class="form-check">
                  <label class="form-check-label-table">
                    <input type="checkbox" id="c5"  value="">
                    <label for="c5"></label>
                  </label>
                </div>
              </td>
              <td>C1576</td>
              <td>Companhia de Seguros Alianca do Brasil</td>
              <td>Brazil</td>
            </tr>
            <tr>
              <td>
                <div class="form-check">
                  <label class="form-check-label-table">
                    <input type="checkbox" id="c6"  value="">
                    <label for="c6"></label>
                  </label>
                </div>
              </td>
              <td>B0791</td>
              <td>AIG Europe Ltd</td>
              <td>United Kingdom</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="row">
          <div class="col-md-8 col-sm-8">
            <button type="button" class="btn btn-secondary float-right md-margin drop-button-padding">Remove Selected</button>
         
          </div>
<!-- 
          <div class="col-md-4 col-sm-4">
            <button type="button" class="btn btn-secondary float-right md-margin drop-button-padding">Remove Selected</button>
          </div> -->
        </div>
        <div class="row">
          <div class="col-md-8 col-sm-8">
            <div class="form-group md-margin drop-down">
              <label for="selectclient"></label>
              <select class="form-control nice-small" id="selectclient" appNiceSelect>
                <option value="1211 6th Avenue Propert Owner LLC (283906)"></option>
                <option value="1212 6th Avenue Propert Owyner LLC (283906)">
                  1212 6th Avenue Owner</option>
              </select>
            </div>
          </div>
          <!-- <div class="col-md-1 col-sm-1">
          </div> -->
          <div class="col-md-4 col-sm-4">
            <button type="button" class="btn btn-primary md-margin drop-button-padding">
              Choose Category</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-sm-8">
            <div class="form-group md-margin drop-down">
              <label for="selectclient"></label>
              <select class="form-control nice-small" id="selectclient" appNiceSelect>
                <option value="1211 6th Avenue Owner"></option>
                <option value="1212 6th Avenue Owner">1212 6th Avenue Owner</option>
              </select>
            </div>
          </div>
          <!-- <div class="col-md-1 col-sm-1"> 
            
          </div> -->
          <div class="col-md-4 col-sm-4">
            <button type="button" class="btn btn-primary md-margin drop-button-padding">Choose Favorites</button>
          </div>
        </div>
      </div>
      <div class="col-md-1 col-sm-1">
    <div class="vertical-line">&nbsp;</div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="form-group">
          <label class="display-3 d-inline-block">What's New Notification</label>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="c7" value="" checked>
              <label for="c7"></label>
             Email Alerts
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="d-inline-block">Frequency</label>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" 
                        type="radio" name="exampleRadios1" id="exampleRadios1" value="option1">
                        <label for="exampleRadios1"></label>
                  Daily
                </label>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
               <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" 
                             type="radio" name="exampleRadios1"
                             id="exampleRadios2c2" value="option2" checked>
                             <label for="exampleRadios1c2"></label>
                      Weekly
                    </label>
                  </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6 col-sm-6">
        <button type="button" class="btn btn-secondary float-xs-left md-margin drop-button-padding btn-wdth">Carrier Search</button>
      </div>
      <div class="col-md-3 col-sm-3">
        <button type="button" class="btnOne btn btn-secondary float-xs-right md-margin">Cancel</button>
      </div>
      <div class="col-md-3 col-sm-3">
        <button type="button" class="btnOne btn btn-primary float-xs-left md-margin">Save</button>
      </div>
    </div>
  </div>
</div>

<!--Mobile Style-->

<div class="row hidden-md-up">
  <div class="col-md-12 col-sm-12">
    <div id="accordion-example" class="accordion notify-mob-top-margin" role="tablist" ariamultiselectable="true">
      <div class="card">
        <a id="headingOne" class="card-header" role="tab" data-toggle="collapse" data-parent="#accordion-example" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What's New Notification
          <span class="accordion-icon"></span>
        </a>
        <div id="collapseOne" class="collapse in" role="tabpanel" arialabelledby="headingOne">
          <div class="card-block">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="c8" value="" checked>
                <label for="c8"></label>
                Email Alerts
              </label>
            </div>
            <div class="form-group">
              <label class="d-inline-block">Frequency</label>
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <div class="form-check check-place">
                    <label class="form-check-label">
                      <input class="form-check-input"
                             type="radio" name="exampleRadios"
                             id="exampleRadios1c1" value="option1">
                             <label for="exampleRadios1c1"></label>
                      Daily
                    </label>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                 <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input"
                             type="radio" name="exampleRadios"
                             id="exampleRadios2c2" value="option2" checked>
                             <label for="exampleRadios1c2"></label>
                      Weekly
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="display-3 d-inline-block notify-mob-top-pad">Carrier Rating Changes Notification</label>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" id="c9" value="" checked>
          <label for="c9"></label>
          Email Alerts
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="d-inline-block">Selected Carriers</label>
    </div>
    <div class="table-responsive table-container">
      <table class="table">
        <thead>
        <tr>
          <th width="5%">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" id="c10"  value="">
                <label for="c10"></label>
              </label>
            </div>
          </th>
          <th width="15%">Code</th>
          <th width="60%">Legal Name</th>
          <th width="20%">Country</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" id="c11"  value="">
                <label for="c11"></label>
              </label>
            </div>
          </td>
          <td>C1576</td>
          <td>Companhia de Seguros Alianca do Brasil</td>
          <td>Brazil</td>
        </tr>
        <tr>
          <td>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" id="c12"  value="">
                <label for="c12"></label>
              </label>
            </div>
          </td>
          <td>B0791</td>
          <td>AIG Europe Ltd</td>
          <td>United Kingdom</td>
        </tr>
        <tr>
          <td>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" id="c13" value="">
                <label for="c13"></label>
              </label>
            </div>
          </td>
          <td>C1576</td>
          <td>Companhia de Seguros Alianca do Brasil</td>
          <td>Brazil</td>
        </tr>
        <tr>
          <td>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" id="c14" value="">
                <label for="c14"></label>
              </label>
            </div>
          </td>
          <td>B0791</td>
          <td>AIG Europe Ltd</td>
          <td>United Kingdom</td>
        </tr>
        </tbody>
      </table>
    </div>
    <button type="button" class="btn btn-block btn-secondary float-left btn-padding">Remove Selected</button>
    <div class="form-group dd-padding">
      <label for="selectclient"></label>
      <select class="form-control nice-small " id="selectclient" appNiceSelect>
        <option value="1211 6th Avenue Propert Owner LLC (283906)"></option>
        <option value="1212 6th Avenue Propert Owner LLC (283906)">
          1212 6th Avenue Owner</option>
      </select>
    </div>
    <button type="button" class="btn btn-block btn-secondary btn-padding">Choose Category</button>
    <div class="form-group dd-padding">
      <label for="selectclient"></label>
      <select class="form-control nice-small " id="selectclient" appNiceSelect>
        <option value="1211 6th Avenue Propert Owner LLC (283906)"></option>
        <option value="1212 6th Avenue Propert Owner LLC (283906)">
          1212 6th Avenue Owner</option>
      </select>
    </div>
    <button type="button" class="btn btn-block btn-secondary btn-padding ">Choose Favorites</button>
    <button type="button" class="btn btn-block btn-secondary notify-mob-top-button-margin btn-padding">Carrier Search</button>
    <button type="button" class="btn btn-block btn-primary notify-mob-top-button-margin btn-padding">Save</button>
    <button type="button" class="btn btn-block btn-secondary notify-mob-top-button-margin btn-padding">Cancel</button>
  </div>
</div>
