<div class="row">
    <div class="col-md-12">
        <div class="divClass p-top-bottom">
            <div class="row">
                <div class="col-md-12">
                    <h5 class=" d-inlineblock">
                        New Folder</h5>
                </div>
                <div class="col-md-12">
                    <hr> </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="selectclient">Folder:*</label>
                        <select class="form-control nice-small hidden-sm-down" id="selectclient" appNiceSelect></select>
                        <select class="form-control nice-small hidden-sm-up" id="selectclient-mob" appNiceSelect></select>


                    </div>
                </div>
                <div class="col-md-4  hidden-sm-down">
                    <div class="col-md-8">
                        <div class="form-group">
                            <input type="text" class="form-control cs-input-top drop-button-padding" /> </div>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-secondary float-xs-right cs-button-top drop-button-padding">Search</button>
                    </div>
                </div>
                <div class="hidden-md-up">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group cs-input-top-mob">
                            <input type="text" class="form-control drop-button-padding"/> </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <button type="button" class="btn btn-secondary float-xs-left drop-button-padding ">Search</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="selectclient">Group:*</label>
                        <select class="form-control nice-small" id="selectclient" appNiceSelect>
                                                                                                                <option value="1211 6th Avenue Propert Owner LLC (283906)"></option>
                                                                                                                <option value="1212 6th Avenue Propert Owner LLC (283906)"></option>
                                                                                                </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="selectclient">Client Access:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <!--<div class="form-check">
                                <input type="radio" name="exampleRadios" id="exampleRadios1">
                                <label for="exampleRadios1"> Yes </label>
                            </div>-->
                            <div class="form-check">
                <label class="form-check">
                  <input class="form-check-input" 
                        type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label for="exampleRadios1"></label>
                  Yes
                </label>
              </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="radio" name="exampleRadios" id="exampleRadios2">
                                <label for="exampleRadios2"> No </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="radio" name="exampleRadios" id="exampleRadios3">
                                <label for="exampleRadios3"> Special </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary cs-button-top" data-toggle="modal" data-target=".example-modal-lg">Add Folder</button>
                </div>
            </div>
            <div class="row p-top">
                <div class="col-md-12">
                    <h5 class=" d-inlineblock">
                        Current Folder</h5>
                </div>
                <div class="col-md-12">
                    <hr> </div>
            </div>
        </div>
    </div>
</div>