<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="divClass p-top-bottom">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 col-sm-4">
                            <label for="agency">Agency</label>

                            <div class="col-md-6 float-xs-right">
                                <div class="form-check">
                                    <input type="checkbox" id="c1" name="IsHidden" [checked]="!IsHidden" (click)="setHidden()">
                                    <label for="c1">Active</label>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-6 col-sm-6">Rating Agency ID {{RatingAgencyId}}</div> -->
                        <div class="col-md-12 col-sm-12">
                            <select id="agency" class="form-control nice-small" #u (change)="GetDisclaimerByRatingAgencyId(u.value)" [(ngModel)]="RatingAgencyId">
                                  <!--<option value="{{wtwId}}" selected>WTW Disclaimer</option>  -->
                                  <option [value]="0" [selected]="true">WTW Disclaimer</option>
                                 <option *ngFor="let res of result" [value]="res.RatingAgencyId">{{res.RatingAgencyName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6"></div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="disclaimer">Disclaimer</label>
                     <div id="richTextEditor">
              <button id="bold" onclick="document.execCommand('bold',false,null);"><img src="/assets/images/bold.png" /></button>
              <button id="italic" onclick="document.execCommand('italic',false,null);" ><img src="/assets/images/italics.png" /></button>
              <button id="underline" onclick="document.execCommand('underline',false,null);"><img src="/assets/images/underline.png" /></button>
              <button id="justifyCenter" onclick="document.execCommand('justifyCenter',false,null);"><img src="/assets/images/center-justify.png" /></button>
              <button id="justifyLeft" onclick="document.execCommand('justifyLeft',false,null);"><img src="/assets/images/left-justify.png" /></button>
              <button id="justifyRight" onclick="document.execCommand('justifyRight',false,null);"><img src="/assets/images/right-justify.png" /></button>
              <button id="insertUnorderedList" onclick="document.execCommand('insertUnorderedList',false,null);"><img src="/assets/images/bullets.png" /></button>
              <button id="insertOrderedList" onclick="document.execCommand('insertOrderedList',false,null);"><img src="/assets/images/numbers.png" /></button>
              <button id="subscript" onclick="document.execCommand('subscript',false,null);"><img src="/assets/images/subScript.png" /></button>
              <button id="superscript" onclick="document.execCommand('superscript',false,null);"><img src="/assets/images/superScript.png" /></button>
              <button id="createLink" onclick="document.execCommand('createLink',false,null);"><img src="/assets/images/link.png" /></button>
              <button id="htmlCode" onclick="document.execCommand('htmlCode',false,null);"><img src="/assets/images/htmlCode.png" /></button>
            </div>
            <div id="export-content">
              <div id="editor" contenteditable="true" ></div>
              
            </div>
                    <!-- <textarea class="form-control" id="editor" rows="24" placeholder="Type HERE">{{text}}</textarea> -->
                </div>
            </div>
            <div class="col-md-12 col-sm-12 submitbtn">
                <button type="button" class="btn btn-primary float-xs-right" (click)="saveData()">Submit</button>
            </div>
            <div class="col-md-1 col-sm-12"></div>
           
        </div>
    </div>
    <div class="row divClass">
                <div class="col-md-12 col-sm-12">
                    <div class="divClass p-top-bottom">
                        <div class="row" *ngIf="isSuccess">
                            <div class="col-md-12 col-sm-12">
                                <div class="alert alert-success alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="!saveSuccess">
                                        <span aria-hidden="true">&times;</span></button>
                                        <span class="alert-text">Disclaimer saved successfully</span>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="isError">
                            <div class="col-md-12 col-sm-12">
                                <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="!isError">
								  <span aria-hidden="true">&times;</span>
								</button>
                                    <span class="alert-text">{{message}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row"  *ngIf="isAlert">
                            <div class="col-md-12 col-sm-12">
                                <div class="alert alert-warning alert-dismissible fade in"  role="alert">
                                    <button type="button"  class="close"  data-dismiss="alert"  aria-label="Close"  (click)="!isAlert">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <span class="alert-text">{{message}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>