<!--<div class="row">
    <div class="bg-software-gray-1 p-1 col-md-12 col-sm-12 col-xs-12">
        <h2 class="display-1 d-inlineblock left-pad hidden-sm-down">
            Welcome to Market Security</h2>
        <h5 class="display-4 d-inlineblock left-pad hidden-sm-up">
            Welcome to Willis Towers Watson Market Security</h5>
    </div>
</div>-->
<div class="row">
    <div class="col-md-8 col-sm-12">
        <div class="divClass p-top-bottom" >
            <div id="editor"></div>
        </div>
        <!-- <div class="divClass p-top-bottom">
            <p class="small-body-text">On June, 23rd 2016, the United Kingdom held a referendum over the question, “should the United Kingdom remain a member of the European Union or leave the European Union?” A majority of those that voted opted to leave
                the European Union. In the event you wish to discuss the implications of the referendum on your insurance
                counterparties, please refer to your normal Willis Towers Watson contact in the örst instance
            </p>
            <p>IMPORTANT DISCLOSURE</p>
            <p class="small-body-text">The following disclaimer now attaches to all documentation containing Fitch Ratings data.</p>
            <p class="small-body-text">
                “None of the Fitch information may be copied or otherwise reproduced, repackaged, further transmitted, transferred, disseminated,
                redistributed or resold, or stored for subsequent use for any such purpose, in whole or in part, in any form
                or manner or by any means whatsoever, by any person without Fitch’s prior written consent.”
            </p>
            <p class="small-body-text">This is in addition to the previously advised Standard & Poor’s disclaimer.</p>
            <p class="small-body-text">“Copyright 2016, Standard & Poor’s Financial Services LLC. Reproduction of S&P Credit Ratings in any form is
                prohibited except with the prior written permission of Standard & Poor’s Financial Services LLC (together
                with its affiliates, S&P). S&P does not guarantee the accuracy, completeness, timeliness or availability
                of any information, including ratings, and is not responsible for any errors or omissions (negligent or otherwise),
                regardless of the cause, or for the results obtained from the use of ratings. S&P GIVES NO EXPRESS OR IMPLIED
                WARRANTIES, INCLUDING, BUT NOT LIMITED TO, ANY WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR
                PURPOSE OR USE. S&P shall not be liable for any direct, indirect, incidental, exemplary, compensatory, punitive,
                special or consequential damages, costs, expenses, legal fees, or losses (including lost income or proöts
                and opportunity costs or losses caused by negligence) in connection with any use of Ratings. S&P’s ratings
                are statements of opinions and are not statements of fact or recommendations to purchase, hold or sell securities.
                They do not address the market value of securities or the suitability of securities for investment purposes,
                and should not be relied on as investment advice.”
            </p>
            <p class="small-body-text">It is critical that a copy of this disclaimer accompanies all documents that include a Standard & Poor’s or Fitch
                rating. Kind regards</p>
            <p class="small-body-text">Liz Hitchcock<br> Director <br>Market Security Group <br>Willis Towers Watson</p>

        </div> -->
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="p-top-bottom p-left-right">
            <div class="card card-block bg-software-gray-1 card-gap ">
                <h4 class="card-title display-4">Recently Viewed Carriers</h4>
                <p class="card-text">

                    <li><a href="#">Swiss Life (Espana)</a></li>
                    <li><a href="#">Zenith Insurance</a></li>
                    <li><a href="#">AIA Austrailia</a></li>
                    <li><a href="#">Farmers Insurance</a></li>
                    <li><a href="#">Swiss Life (Espana)</a></li>
                    <li><a href="#">Zenith Insurance</a></li>
                    <li><a href="#">AIA Austrailia</a></li>
                    <li><a href="#">Farmers Insurance</a></li>
                    <li><a href="#">Swiss Life (Espana)</a></li>
                    <li><a href="#">AIA Austrailia</a></li>

                </p>
            </div>

            <div class="card card-block bg-software-gray-1">
                <h4 class="card-title display-4">Contact Us</h4>
                <p class="card-text">
                    Please contact your client advocate for any further information
                    <!-- <li>
                        <a href="mailto:wtw@wtw.com?Subject=Lets%20discuss" target="_top">
                    Link
                </a>
                    </li>
                    <li>or</li> -->
                    <li>
                        <a href="mailto:wtw@wtw.com?Subject=Lets%20discuss" target="_top">
                       Contact Market Security</a>
                    </li>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 col-sm-12">
    <hr>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 p-1">
        <div class="col-md-8 col-sm-8 col-xs-8">
            <h2 class="display-1 d-inlineblock left-pad hidden-sm-down">
                What's New</h2>
            <h5 class="display-5 d-inlineblock left-pad hidden-sm-up">
                What's New</h5>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <button type="button" class="btn btn-primary float-xs-right b-left-right">Export to Excel</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 hide-scroll">
        <div class="table-responsive table-container">
            <table class="table table-striped">
                <thead >
                    <tr>
                        <th width="15%" class="table-bold">Date</th>
                        <th width="10%" class="table-bold">WTW Code</th>
                        <th width="25%" class="table-bold">Name</th>
                        <th width="10%" class="table-bold">Country</th>
                        <th width="10%" class="table-bold">Category</th>
                        <th width="20%" class="table-bold">Current</th>
                        <th width="10%" class="table-bold">Previous</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="15%" scope="row">June 06, 2017</td>
                        <td width="10%">C1576</td>
                        <td width="25%"><a href="">Companhia de Seguros Alianca do Brasil</a></td>
                        <td width="10%">Brazil</td>
                        <td width="10%"> Financials </td>
                        <td width="20%">2016 Financials Published</td>
                        <td width="10%">S&P: A+ Stable</td>
                    </tr>
                    <tr>
                        <td width="15%" scope="row">June 06, 2017</td>
                        <td width="10%">B0791</td>
                        <td width="25%"><a href="">AIG Europe Ltd</a></td>
                        <td width="10%">United Kingdom</td>
                        <td width="10%">Ratings</td>
                        <td width="20%">S&P: A0 Negative</td>
                        <td width="10%">S&P: A+ Stable</td>
                    </tr>
                    <tr>
                        <td width="15%" scope="row">June 06, 2017</td>
                        <td width="10%">C1576</td>
                        <td width="25%"><a href="">Companhia de Seguros Alianca do Brasil</a></td>
                        <td width="10%">Brazil</td>
                        <td width="10%"> Financials </td>
                        <td width="20%">2016 Financials Published</td>
                        <td width="10%">S&P: A+ Stable</td>
                    </tr>
                    <tr>
                        <td width="15%" scope="row">June 06, 2017</td>
                        <td width="10%">C6422</td>
                        <td width="25%"><a href="">Atupri Krankenkasse</a></td>
                        <td width="10%">Switzerland</td>
                        <td width="10%">Financials</td>
                        <td width="20%">2016 Financials Published</td>
                        <td width="10%"></td>
                    </tr>
                    <tr>
                        <td width="15%" scope="row">June 06, 2017</td>
                        <td width="10%">B0791</td>
                        <td width="25%"><a href="">AIG Europe Ltd</a></td>
                        <td width="10%">United Kingdom</td>
                        <td width="10%">Ratings</td>
                        <td width="20%">S&P: A0 Negative</td>
                        <td width="10%">S&P: A+ Stable</td>
                    </tr>
                    <tr>
                        <td width="15%" scope="row">June 06, 2017</td>
                        <td width="10%">C1576</td>
                        <td width="25%"><a href="">Companhia de Seguros Alianca do Brasil</a></td>
                        <td width="10%">Brazil</td>
                        <td width="10%"> Financials </td>
                        <td width="20%">2016 Financials Published</td>
                        <td width="10%"></td>
                    </tr>
                    <tr>
                        <td width="15%" scope="row">June 06, 2017</td>
                        <td width="10%">B0791</td>
                        <td width="25%"><a href="">AIG Europe Ltd</a></td>
                        <td width="10%">United Kingdom</td>
                        <td width="10%">Document</td>
                        <td width="20%">New document published (Rating Rationale)</td>
                        <td width="10%"></td>
                    </tr>
                    <tr>
                        <td width="15%" scope="row">June 06, 2017</td>
                        <td width="10%">B0791</td>
                        <td width="25%"><a href="">AIG Europe Ltd</a></td>
                        <td width="10%">United Kingdom</td>
                        <td width="10%">Ratings</td>
                        <td width="20%">S&P: A0 Negative</td>
                        <td width="10%">S&P: A+ Stable</td>
                    </tr>
                    <tr>
                        <td width="15%" scope="row">June 06, 2017</td>
                        <td width="10%">C1576</td>
                        <td width="25%"><a href="">Companhia de Seguros Alianca do Brasil</a></td>
                        <td width="10%">Brazil</td>
                        <td width="10%"> Financials </td>
                        <td width="20%">2016 Financials Published</td>
                        <td width="10%"></td>
                    </tr>
                    <tr>
                        <td width="15%" scope="row">June 06, 2017</td>
                        <td width="10%">B0791</td>
                        <td width="25%"><a href="">AIG Europe Ltd</a></td>
                        <td width="10%">United Kingdom</td>
                        <td width="10%">Ratings</td>
                        <td width="20%">S&P: A0 Negative</td>
                        <td width="10%">S&P: A+ Stable</td>
                    </tr>
                    <tr>
                        <td width="15%" scope="row">June 06, 2017</td>
                        <td width="10%">C1576</td>
                        <td width="25%"><a href="">Companhia de Seguros Alianca do Brasil</a></td>
                        <td width="10%">Brazil</td>
                        <td width="10%"> Financials </td>
                        <td width="20%">2016 Financials Published</td>
                        <td width="10%"></td>
                    </tr>
                    <tr>
                        <td width="15%" scope="row">June 06, 2017</td>
                        <td width="10%">B0791</td>
                        <td width="25%"><a href="">AIG Europe Ltd></a></td>
                        <td width="10%">United Kingdom</td>
                        <td width="10%">Document</td>
                        <td width="20%">New document published (Rating Rationale)</td>
                        <td width="10%"></td>
                    </tr>
                    <tr>
                        <td width="15%" scope="row">June 06, 2017</td>
                        <td width="10%">B0791</td>
                        <td width="25%"><a href="">AIG Europe Ltd</a></td>
                        <td width="10%">United Kingdom</td>
                        <td width="10%">Ratings</td>
                        <td width="20%">S&P: A0 Negative</td>
                        <td width="10%">S&P: A+ Stable</td>
                    </tr>
                    <tr>
                        <td width="15%" scope="row">June 06, 2017</td>
                        <td width="10%">C1576</td>
                        <td width="25%"><a href="">Companhia de Seguros Alianca do Brasil</a></td>
                        <td width="10%">Brazil</td>
                        <td width="10%"> Financials </td>
                        <td width="20%">2016 Financials Published</td>
                        <td width="10%"></td>
                    </tr>
                    <tr>
                        <td width="15%" scope="row">June 06, 2017</td>
                        <td width="10%">B0791</td>
                        <td width="25%"><a href="">AIG Europe Ltd</a></td>
                        <td width="10%">United Kingdom</td>
                        <td width="10%">Ratings</td>
                        <td width="20%">S&P: A0 Negative</td>
                        <td width="10%">S&P: A+ Stable</td>
                    </tr>
                    <tr>
                        <td width="15%" scope="row">June 06, 2017</td>
                        <td width="10%">C1576</td>
                        <td width="25%"><a href=""> Companhia de Seguros Alianca do Brasil</a></td>
                        <td width="10%">Brazil</td>
                        <td width="10%"> Financials </td>
                        <td width="20%">2016 Financials Published</td>
                        <td width="10%"></td>
                    </tr>
                    <tr>
                        <td width="15%" scope="row">June 06, 2017</td>
                        <td width="10%">B0791</td>
                        <td width="25%"><a href="">AIG Europe Ltd</a></td>
                        <td width="10%">United Kingdom</td>
                        <td width="10%">Ratings</td>
                        <td width="20%">S&P: A0 Negative</td>
                        <td width="10%">S&P: A+ Stable</td>
                    </tr>
                </tbody>
            </table>



        </div>
    </div>
</div>